//Colors
$orangeClr: rgba(226, 60, 10, 100%);
$greyClr: rgba(48, 48, 48, 100%);
$whiteClr: rgba(255, 255,255, 100%);
$blackClr: rgba(0, 0, 0, 100%);

// Fonts
$font-med: 1.125rem;
$font-sm: 0.875rem;
